<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @listing_status.description %>
</p>


<%= link_to 'Edit', edit_listing_status_path(@listing_status) %> |
<%= link_to 'Back', listing_statuses_path %>
