<h1>Export Data</h1>
<div>
<table border="1" width="800">
	<tr><th>Copy this in your "Prices.lua" file, in you saved variables folder</th></tr>
	<tr>
		<td> <%= @myfilecontent %> </td>
	</tr>
</table>
</div>