<h1>Listing parsed_auctions</h1>
<div id="flash" style="display:none"></div>

<div id="parsed_auctions_form"><%= render :partial => "form" %></div>

<div id="parsed_auctions_list"><%= render :partial => "parsed_auctions" %></div>

