<h1>Items to Craft</h1>
<table>
	<tr align="left">
		<th>Item name</th>
		<th>Source</th>
		<th>Crafting Cost</th>
	</tr>
	<%
	@out_of_stock_list.each do |item|
	isNewRow(item)
	%>
	<tr bgcolor='<%= "#{@lastRowColor}"%>'>
		<td><%= "#{getItemDescription(item)}"%></td>
		<td style='padding-right:20px;'><%= "#{getSourceDescriptionForItemsToCraft(item)}"%></td>
		<td style='padding-right:20px;'><%= "#{formatPrice(calculateCraftingCost(item))}"%></td>
	</tr>
	<% end %>
</table>
