<h1>Profits per day</h1>
<table>
	<tr align="left">
		<th style="padding-right: 20px;">Day</th><th style="padding-right: 20px;">Profit</th><th>Guild cut</th>
	</tr>
	<tr>
		<td><%= raw(@date_list) %></td>
		<td><%= @sold_list_for_day %></td>
		<td>test</td>
	</tr>
</table>
